.left-background {
  background: white;
  width: 300px;
  height: 700px;
  padding-left: 50px;
}

.right-background {
  background: #cac9c9;
  width: 300px;
  height: 700px;
  padding-left: 50px;
}

.container-background{
  width: 700px;  
  /* border-top:#000, 50px; */
}

.title {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
}